#container {width: 1000px; margin: 0 auto;}
#container #input-form {text-align: center;}
#slot-table {margin: 0 auto; float:left; text-align: center;}
#input-form {margin-top: 10px; margin-bottom: 10px;}
#content div{overflow: scroll; border:solid 1px #ccc; display:none;height:700px; padding-top:65px;}
#tip {width:350px; float:right; border: 1px solid gray;}
#slot-table {border-collapse: collapse;}
#slot-table > thead > tr { background-color: #333; color:#fff; }
#slot-table > thead > tr > th { padding: 8px; width: 150px; }
#slot-table > tbody > tr > td { border-bottom: 1px solid gray; padding:8px; }
