#container {width: 1300px; margin: 0 auto;} /*메인 영역 화면 사이즈 지정 */
#iden-equip-table {margin: 0 auto; text-align: center;} /*DB 테이블 텍스트 정렬 */
#iden-equip-table {border-collapse: collapse;} /*DB 테이블 테두리 */
#iden-equip-table > thead > tr { background-color: #333; color:#fff; } /*db테이블 헤더영역 배경색 */
#iden-equip-table > thead > tr > th { padding: 8px; width: 150px; } /*db테이블 헤더영역 사이즈 */
#iden-equip-table > tbody > tr > td { border-bottom: 1px solid gray; padding:8px; } /*db테이블 바디영역 테두리 */
