body{text-align:center;}
#container {width: 1300px; }
#home {float:left;}
#input-form {width:50%; clear:left;}
#ct {width:70%; clear:left;}
#tip1 {width:30%; float:right; border: 1px solid gray;}
#tip4 {width:30%; float:right; border: 1px solid gray;}
#tip5 {width:30%; float:right; border: 1px solid gray;}
#tip6 {width:30%; float:right; border: 1px solid gray;}
#tip7 {width:30%; float:right; border: 1px solid gray;}
#cheat-table {margin: 0 auto; float:left; text-align: center;}
#input-form {margin-top: 10px; margin-bottom: 10px;}
#cheat-table {border-collapse: collapse;}
#cheat-table > thead > tr { background-color: #333; color:#fff; }
#cheat-table > thead > tr > th { padding: 8px; width: 150px; }
#cheat-table > tbody > tr > td { font-size:11px; border-bottom: 1px solid gray; padding:8px; }
