#container {width: 960px; margin: 0 auto;}
#container #input-form {text-align: center;}
#input-form {margin-top: 10px; margin-bottom: 10px;}
#content {width:800px; clear:left;}
#hantest {float:right;}
#etcdb-table {margin: 0 auto; text-align: center;}
#etcdb-table {border-collapse: collapse; float:left;}
#etcdb-table > thead > tr { background-color: #333; color:#fff; }
#etcdb-table > thead > tr > th { padding: 8px; width: 150px; }
#etcdb-table > tbody > tr > td { border-bottom: 1px solid gray; padding:8px; }
