#container {width: 1300px; margin: 0 auto; padding-top: 100px;}
#container #input-form {text-align: center;}
#etcdb-table {margin: 0 auto; text-align: center;}
#input-form {margin-top: 10px; margin-bottom: 10px;}
#content div{overflow: scroll; border:solid 1px #ccc; display:none;height:700px; padding-top:65px;}
#etcdb-table {border-collapse: collapse;}
#etcdb-table > thead > tr { background-color: #333; color:#fff; }
#etcdb-table > thead > tr > th { padding: 8px; width: 150px; }
#etcdb-table > tbody > tr > td { border-bottom: 1px solid gray; padding:8px; }
