/*header*/
header{
  height: 75px;
  background-color: #006F84;
  border: 1px solid #253342;
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
}
h1 {color: white; line-height: 75px; float:left;}
.menu{float:right;}
.menu li {float:left;}
.menu a{line-height: 75px; color: white; padding: 0 15px; display: block;}

/*common*/
.nav_menu{width: 1170px; margin: 0 auto;}
.clearfix{content: ''; dispaly: block; clear: both;}
